In [11]:
import pandas as pd
import numpy as np

In [94]:
genes = pd.read_csv("/Users/veronica/Dropbox (DIBRIS)/project_UCL/level5GOterms.csv")
go_terms = pd.read_csv("/Users/veronica/Dropbox (DIBRIS)/project_UCL/GOlevel5.csv")
go_terms = list(go_terms['x'])

In [95]:
df = pd.DataFrame([[np.nan]], columns=['x'], index=['x'])
genes = df.append(genes)

In [96]:
go_term = 0
df_res = pd.DataFrame(columns=['Gene', 'GOterm'])
i=0
while i < genes.shape[0]:
    try:
        go = go_terms[go_term]
    except:
        break
    go_term +=1
    for j in range(i+1, genes.shape[0]):
        if genes.index.values[j] == 'x':
            i = j
            break
        df = pd.DataFrame([[genes.iloc[j, 0], go]], columns=['Gene', 'GOterm'])
        df_res = df_res.append(df, ignore_index=True)

In [104]:
df_res = df_res.set_index('Gene')
df_res.index = [str(g).lower() for g in df_res.index]
df_res

             GOterm
tnp1     GO:0007286
piwil1   GO:0007286
galntl5  GO:0007286
dpy19l2  GO:0007286
bpy2     GO:0048477
prok2    GO:0048477
tdrd9    GO:0048477
tdrp     GO:0048477
nlrp14   GO:0048477
hils1    GO:0048477
bpy2b    GO:0048477
bpy2c    GO:0048477
acr      GO:0048599
cd9      GO:0007143
lyzl6    GO:0007143
spaca3   GO:0007143
izumo1   GO:0007143
plcz1    GO:0007283
zp3      GO:0007320
zp4      GO:0007320
paep     GO:0007340
glra1    GO:0007342
zp3      GO:0007342
cacna1h  GO:0007342
zp4      GO:0007342
prss37   GO:0007342
nppc     GO:0007343
ghsr     GO:0035036
ghrl     GO:0035036
wnt4     GO:2000360
...             ...
nr1h4    GO:0070922
actn4    GO:1905323
calr     GO:1905323
ctbp2    GO:1905323
ezh2     GO:1905323
rara     GO:1905323
rarg     GO:1905323
rxra     GO:1905323
akr1c3   GO:1905323
trim16   GO:1905323
snw1     GO:1905323
cnot1    GO:1905323
prame    GO:1905323
cyp27b1  GO:0000470
pim1     GO:0000470
snai2    GO:0000470
vdr      GO:0000470
vdr      GO:0000470
snw1     GO:0000470
kank2    GO:0000470
creb3    GO:0030490
ern1     GO:1990182
ern1     GO:1990182
hspa1a   GO:1990182
tmbim6   GO:1990182
agr2     GO:1990182
cops5    GO:1990182
ficd     GO:1990182
bfar     GO:1990182
tmem33   GO:1990182

[147962 rows x 1 columns]

In [105]:
df_res.to_csv("/Users/veronica/Dropbox (DIBRIS)/project_UCL/db_GO_level5_big.csv")

In [57]:
pd1 = pd.read_table("genes_GO_level5.txt", header=None)
pd2 = pd.read_csv("gene_names.csv", header=None)

In [84]:
np.isnan(list(pd2.iloc[np.where(pd2[0].str.contains('Sep-'))[0],:]))

array([False])

In [44]:
with open("list.txt") as f:
    content = f.readlines()

content = [x.strip() for x in content]

In [51]:
df = pd.DataFrame(columns=['Gene', 'gene_symbol'])
for c in content:
    s = c.split('\t')
    if len(s)==1:
        continue
    to_append = pd.DataFrame([[s[0], str(s[1]).lower()]], columns=['Gene', 'gene_symbol'])
    df = df.append(to_append, ignore_index=True)

In [54]:
set(df['Gene']).intersection(set(df_res['Gene']))

set()

In [53]:
pd.merge(df_res, df, on='Gene')

Empty DataFrame
Columns: [Gene, GOterm, gene_symbol]
Index: []

In [56]:
df['Gene']

0             100
1           10000
2           10005
3           10008
4           10009
5           10010
6       100128927
7           10013
8       100133941
9           10014
10      100144748
11          10015
12          10016
13          10017
14          10018
15          10021
16          10025
17      100287171
18           1003
19          10036
20          10039
21          10040
22          10049
23      100505705
24      100506013
25      100507436
26          10051
27          10055
28          10058
29          10059
          ...
5941         9918
5942         9921
5943         9926
5944         9927
5945         9928
5946         9935
5947         9938
5948          994
5949         9942
5950         9943
5951         9948
5952         9950
5953         9958
5954          996
5955         9960
5956         9965
5957         9966
5958         9967
5959         9968
5960         9969
5961          997
5962         9971
5963         9972
5964         9975
5965          998
5966         9984
5967         9991
5968         9992
5969         9994
5970         9997
Name: Gene, Length: 5971, dtype: object